# Optional npm cache directory
.npm

# OS stuff
.DS_Store

#Secret environment variables
/env.json

#Credentials used for mocha tests
/test/config.js
/test/responseData.json

# Added by Homey CLI
/.homeybuild/

node_modules